.error-page {
    @include adaptiveValue("padding-top", 80, 50, $lg, $minWidth, 1);
    // @include adaptiveValue("padding-top", 55, 45, $md, $minWidth, 1);

    @include mq(xl) {
        padding-top: rem(100);
      }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include mq(md) {
            flex-direction: row;
            column-gap: rem(40);
        }

        @include mq(lg) {
            column-gap: rem(60);
        }

        @include mq(xl) {
            column-gap: rem(100);
        }
    }

    &__img {
        @include adaptiveValue("max-width", 520, 320, $md, $minWidth, 3);
        @include adaptiveValue("margin-bottom", 10, 20, $md, $minWidth, 3);
        img {
            @include imgFluid;
        }

        @include mq(md) {
            flex:  0 0 percent(570, 1510);
        }
    }

    &__title-block {
        align-items: center;
        text-align: center;

        @include mq(md) {
            align-items: flex-start;
            text-align: left;
            flex:  1 1 auto;
        }
    }
}
.title-block {

    &__title {
    }

    &__text {
    }

    &__btn {
    }
}
.main-title {
}
.text {
}
.btn {
}
