.custom-radio {
	width: 100%;
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	position: relative;
  
	
  
	&__content {
	  flex: 1 1 auto;
	  @include adaptiveValue("font-size", 16, 14);
	  @include adaptiveValue("padding-left", 15, 10);
	  @include adaptiveValue("padding-right", 40, 30);
	  @include adaptiveValue("padding-top", 10, 8);
	  @include adaptiveValue("padding-bottom", 10, 8);
	  @include adaptiveValue("min-height", 55, 45);
	  display: flex;
	  align-items: center;
	  line-height: 1.25;
	  margin: 0;
	  font-weight: 500;
	  color: $black;
	  border-radius: rem(8);
	  border: rem(1) solid $black;
	}
  
	&__input {
	  position: relative;
	  @include centerY;
	  @include adaptiveValue("right", 15, 10);
	  @include adaptiveValue("height", 18, 16);
	  @include adaptiveValue("width", 18, 16);
	  border: rem(1) solid $black;
	  display: flex;
	  align-items: center;
	  flex-direction: column;
	  justify-content: center;
	  appearance: none;
	  outline: none;
	//   background-color: $bgWhite;
	  cursor: pointer;
	  border-radius: 50%;
  
	  &:checked {
		border-color: $theme;
	  //   background-color: $bdBlue;
	  }
  
	  &:checked + .custom-radio__content {
		border: rem(1) solid $theme;
		color: $theme;
		// background-color: rgba($t, 0.12);
	  }
  
	  &:disabled {
		cursor: not-allowed;
	  }
  
	  &:disabled:checked {
		cursor: not-allowed;
  
		&::before {
		  opacity: 0.6;
		}
	  }
  
	  &:disabled + .custom-radio__content {
		cursor: not-allowed;
		opacity: 0.6;
	  }
  
	  &:checked::before {
		  content: "";
		  @include centerXY;
		  display: block;
		  height: 100%;
		  width: 100%;
		  border: rem(5) solid $theme;
		  border-radius: 50%;
	  }
	}
  
  }