.social {
	display: flex;
	flex-wrap: wrap;
	gap: rem(10) rem(10);

	&__item {

	}

	&__lnk {
		flex: 0 0 auto;
		font-size: rem(35);
		color: $themeDark;
		transition: all $globalTransition;

		@include hover {
			color: $themeColor;
		}
	}
}