.tabs {
	&__nav {
		display: flex;
		flex-wrap: nowrap;
    overflow-x: auto;
		// border-bottom: 1px solid $border;
		// margin-bottom: 20px;

		// @include mq(xs) {
		// 	border-width: 2px;
		// }

		// @include mq(sm) {
		// 	margin-bottom: 25px;
		// }
	}


	&__nav-lnk {
		flex: 0 0 auto;
		@extend %btnReset;
		display: inline-flex;
		justify-content: center;
		align-items: center;
    	text-align: center;
		@include adaptiveValue("padding-top", 12, 10, $lg, $minWidth, 1);
    	@include adaptiveValue("padding-bottom", 16, 13, $lg, $minWidth, 1);
		@include adaptiveValue("padding-left", 40, 28, $lg, $minWidth, 1);
		@include adaptiveValue("padding-right", 40, 28, $lg, $minWidth, 1);
		font-weight: 600;
		font-family: $secondaryFont;
		color: $theme;
		line-height: 1.2;
    	@include adaptiveValue("font-size", 16, 15, $lg, $minWidth, 1);
		
		background-color: $white;
		transition: all $globalTransition;
    	// box-shadow: 0px rem(4) 0px 0px $border;
		&._active {
			background-color: $theme;
			color: $white;
			// box-shadow: 0px rem(4) 0px 0px transparent;
		}

		&:first-child {
			@include adaptiveValue("border-top-left-radius", 8, 6, $lg, $minWidth, 1);
			@include adaptiveValue("border-bottom-left-radius", 8, 6, $lg, $minWidth, 1);
		}

		&:last-child {
			@include adaptiveValue("border-top-right-radius", 8, 6, $lg, $minWidth, 1);
			@include adaptiveValue("border-bottom-right-radius", 8, 6, $lg, $minWidth, 1);
		}

		@include hover {
			background-color: $themeBgLight;
			color: $white;
			// box-shadow: 0px rem(4) 0px 0px $border;
		}

	}

	&__content {
		display: none;
		&._active {
			display: block;
		}
	}
}